* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #000;
  color: #fff;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111;   /* dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: transparent;
  -webkit-text-stroke: 1px #3498db; /* outlined text effect */
  letter-spacing: 2px;
  white-space: nowrap;
    font-size: 2rem;
  font-weight: 700;
}

.typing-cursor {
  color: #3498db;
  animation: type 0.7s infinite;
}

@keyframes type {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}



/* NAVBAR */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

/* GLASS NAV */
.navbar.scrolled {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
}

.logo span {
  color: #e10600;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

.nav-links a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #e10600;
  position: absolute;
  bottom: -6px;
  left: 0;
  transition: 0.3s;
}

.nav-links a:hover::after,
.nav-links a.active::after {
  width: 100%;
}
.welcome{
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: row;
    font-weight: 400;
    margin-left: 10px;
    font-size: 0.8rem;
    color: skyblue;
    text-transform: capitalize;
    z-index: 1;
    position: relative;
}
.star{
    font-size: 1.5rem;
    color: #f1c40f;
    animation: spin 7s linear infinite;
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

/* MOBILE MENU */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  height: 3px;
  width: 25px;
  background: #fff;
  margin-bottom: 5px;
}

/* HOME */
.home {
  height: 100vh;
  background: url("workspace.jpg") center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}

#particles-js {
  position: absolute;
  inset: 0;
  z-index: 3;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.75);
  z-index: 2;
}

.home-content {
  position: absolute;
  transform: translate(-0%, 18%);
  z-index: 3;
  max-width: 900px;
  margin: 0;
  text-align: center;
  padding: 0 20px;
  margin-top: 90px;
}
.home-content p{
    line-height: 1.7;
    text-align: left;
    margin-left: 0;
    font-size: 1.2rem;
    width: 50%;
}
.home-content,h1, h3{
    text-align: left;
    padding-top: 0px;
}


.home-content h1 span {
    font-size: 2.5rem;
  font-weight: 1200;
  color: transparent;
  -webkit-text-stroke: 0.5px skyblue;
}

.home-content h3 {
  font-weight: 400;
  margin-bottom: 20px;
}

.typing {
  color: #e10600;
  padding-right: 5px;
  font-weight: 800;
  animation: blink;
}



/* BUTTONS */
.home-buttons {
    margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn {
  padding: 10px 10px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
  text-align: center;
  width: 30%;
}

.primary {
   border: 2px solid skyblue;
  color: #fff;
}

.primary:hover {
  background: skyblue;
  color: white;
}

.secondary {
  border: 2px solid skyblue;
  color: #fff;
}

.secondary:hover {
  background: #fff;
  color: #000;
}

/* SOCIALS */
.socials {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 18px;
}
.social {
  margin-top: 0px;
  display: flex;
  justify-content: right;
  gap: 18px;
  text-align: right;
  margin-left: 680px;
}
.social a {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: right;
  justify-content: right;
  color: #fff;
  transition: 2.0s ease;
  text-decoration: none;
  font-size: 1.2rem;

}
.social a:hover {
  background: skyblue;
  transform: translateY(-5px);
  text-decoration: none;
}

.socials a {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: 0.3s;
  text-decoration: none;
}

.socials a:hover {
  background: #e10600;
  transform: translateY(-5px);
}

/* RESPONSIVE */
@media (max-width: 768px) {
   .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    top: 20px;
    z-index: 1100;
  }

  /* Mobile nav links - full screen */
  .nav-links {
    position: fixed;            /* full-screen overlay */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,1); /* dark overlay */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transform: translateY(-100%); /* hidden above screen */
    transition: transform 0.5s ease-in-out;
    z-index: 1000;               /* above all content */
  }
  .nav-links .social{
    margin-left: 0px;
    margin-top: 20px;
  }

  /* Slide down when active */
  .nav-links.active {
    transform: translateY(0);
  }

  /* Mobile nav link styles */
  .nav-links li {
    list-style: none;
  }

  .nav-links li a {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease-in-out;
  }

  .nav-links li a:hover,
  .nav-links li a.active {

color: skyblue;
   }
  .home-content h1{  
    font-size : 1.2rem;
  }
  .btn{
    width: 40%;
    text-align: center;
    font-size: 0.7rem;
    padding: 10px;
  }
  .home-content p{
    font-size: 1.3rem;
    width: 100%;
  }
}

