* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    background: #111;
    color: #fff;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

/* Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links li a:hover {
    color: #00bcd4;
}

/* Hamburger */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 23px;
    height: 2px;
    background: white;
    margin: 3px 0;
    transition: 0.3s;
}

/* Mobile View */
@media (max-width: 700px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 95vh;
        background: #111;
        flex-direction: column;
        padding-left: 150px;
        display: none;
    }

    .nav-links li {
        margin-top: 10px;
        padding: 6px 0;
        max-height: 300px;
        
    }

    .nav-links.active {
        display: flex;
    }
}

.hero {
    position: relative;
    min-height: 95vh;

    background-image: url("workspace.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dark overlay */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6); /* darkness level */
    z-index: 1;
}

/* Content stays above overlay */
.hero .content {
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
    margin-right: auto;
    padding-left: 20px;
    
}
.content .clinton{
    padding-right: 136px;
}
.content .dev{
    font-size: 10px;
    letter-spacing: 7px;
}
.proBtn{
    padding: 10px;
    border: 2px  solid whitesmoke;
    background: transparent;
    color: white;
    border-radius: 20px;
    font-size: 10px;
    width: 90px;
    margin-top: 23px;
}
.about{
    position: relative;
    min-height: 95vh;
    background-color: black;
}
.aboutHead{
    color: white;
    padding-left: 20px;
    padding-top: 100px;
    text-decoration: underline red;
}
.underAbout{
    color: white;
     padding-left: 20px;
     padding-top: 7px;
}
.aboutContent{
    margin-top: 30px;
}
.aboutp{
    color: white;
    padding-left: 20px;
    width: 100%;
}
.aboutImg{
    height: 410px;
    width: 100%;
}

